@use '../../styles/variables' as *;

@keyframes wiggle {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-4px, -4px);
  }
  40% {
    transform: translate(4px, -4px);
  }
  60% {
    transform: translate(8px, 4px);
  }
  80% {
    transform: translate(4px, 4px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.meter {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 12px;
  border-radius: 4px;
  position: relative;
  transition: right $shortTransition;
  right: 0;

  &.selected {
    right: 24px;

    .label {
      color: #333333;
    }
    animation: wiggle 6s linear infinite;
  }
  &.selected::after {
    opacity: 1;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
    transition: opacity $longTransition;
    opacity: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .label {
    user-select: none;
    color: #8c8c8c;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 700;
  }
  .indicator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .sample {
      border: 1px solid #dedede;
      flex-shrink: 0;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      margin-right: 8px;
    }
    .hex {
      color: #000000;
    }
  }
}

@media (max-width: map-get($sizes, 'tablet')) {
  .meters {
    margin-right: 0;
    width: 80%;
    background-color: transparent;
  }
}
